<h3>Hello, <%= @user.name %></h3>

<div class="well powerpuffgirl">
  <%= link_to "My Orders", orders_path, class: "btn btn-primary" %>
  <%= link_to "Edit My Info", edit_user_path(current_user), class: "btn btn-primary" %>
  <% if current_user.admin? %>
    <%= link_to "Admin Dashboard", admin_dashboard_index_path, class: "btn btn-warning" %>
  <% end %>
</div>
