<div class="page-header">
  <h1>Welcome to Turing Antiques!</h1>
</div>

<%= render partial: 'carousel' %>

<div class="well container powerpuffgirl" >
  <h2>About Turing Antiques: </h2>
  <p>
    Bicycle rights butcher edison bulb neutra offal, typewriter dreamcatcher man braid lumbersexual. Glossier hammock freegan venmo, typewriter sriracha farm-to-table offal ethical gastropub bitters jianbing. Normcore cronut ramps, letterpress man bun mlkshk seitan flannel subway tile. 90's man braid echo park heirloom, trust fund pop-up paleo messenger bag neutra cronut marfa migas kale chips tumeric vaporware. Fanny pack church-key fap intelligentsia craft beer trust fund. PBR&B iceland put a bird on it banjo bushwick. Tacos you probably haven't heard of them hexagon fap.
  </p>
</div>
