</br><table>
  <% current_user.orders.each do |order| %>
    <tr>
      Order <%= order.id %>: <%= number_to_currency(order.price) %><br />
      <%= link_to "View order", order_path(order) %>
    </tr>
  <% end %>
</table>
