<div class="page-header">
  <h1>ALL THE ITEMS!!!!!!!!!</h1>
</div>

<p><%= image_tag "http://i2.kym-cdn.com/photos/images/original/000/187/320/6a1.png" %></p>

<% @items.each do |item| %>
<%= image_tag item.image %>
<%= item.title %>
<%= button_to "Add to Cart", cart_path(item_id: item.id) %>
<% end %>
