<div class="page-header">
  <h1>ALL THE ITEMS!!!!!!!!!</h1>
</div>

<!-- <p><%= image_tag "http://i2.kym-cdn.com/photos/images/original/000/187/320/6a1.png" %></p> -->

<% items = @categories.first.items %>

<% items.each do |item| %>
  <div class="col-md-4">
    <%= image_tag item.image, class: "img-thumbnail" %>
    <%= item.title %>
    <% if item.retired %>
      Item Retired
    <% else %>
      <%= button_to "Add to Cart", cart_path(item_id: item.id) %>
    <% end %>
  </div>
<% end %>
