.item-thumbnail {
   width:100%;
   padding-bottom: 100%;
   overflow:hidden;
   position:relative;
}

.item-thumbnail img {
  position:absolute;
  width:auto;
  max-height: 100%;
  border-radius: 5px;
  border: 2px solid black;
}

body {
  font-family: "Raleway", sans-serif!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
      font-family: "Baloo Bhaina", cursive!important;
}
